.mainNav,
.mainNav a,
.mainNav div {
  background-color: var(--secondary-bg) !important;
}
.helperNav {
  background-color: var(--primary-blue);
  width: 100%;
}

.mainNav ul {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-items: space-between;
  font-size: 28px;
  margin-left: 10px;
}

.logo span {
  margin: 0px 5px !important;
}

.info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.info span {
  margin: 4px 6px 0px 6px;
}

.responsiveShow {
  display: none;
}

@media (max-width: 900px) {
  .responsiveHide {
    display: none;
  }

  .responsiveShow {
    display: block;
  }
}
